body{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left bottom, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff36;
    height:100vh;
}

.container{
	    width: 75%;
}


.nice-background{
	background: #efe1e175;
	padding-bottom: 20px;
}

.form {
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 25px;
    border-bottom: solid 1px #ffffff80;
    outline: none;
    color: #ffffff60;;
    margin-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff50;
    opacity: 1; /* Firefox */
}

.centerIt{
	width: 85%;
	margin: auto;
}

.text-center{

    text-align:  center;

}

option {
    background-color: #585357;
}

.height10{
	height: 5px;
}

#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.billinginfo{
	width: 90%;
    float: right;
}

input[type="text"]{
	padding-left: 3px;
}

input[type="email"]{
	padding-left: 3px;
}

.h3, h3 {
    font-size: 18px;
}

.btn-sm {
    padding: 3px 18px;
}

.btn-primary {
    color: #4dacff;
    border-color: white;
    background-color: white;
}

.form{
  width: 50%;
  text-align: center;
}
